<div class="wrapper sign_form">

	<section class="container container-login">
		<h1 class="main-header">Logowanie</h1>	
		<%= form_tag(:action => 'login_attempt') do %>
    		<div><%= text_field_tag :username,  nil, placeholder: 'NAZWA'%></div> 
    		<div class="clearfix"></div>
    		<div><%= password_field_tag :login_password, nil, placeholder: 'HASÅO' %></div> 
    		<div class="clearfix"></div>
    		<%= button_tag(type: 'submit', class: "login") do %>
				 <i class="icon_lock"></i>Zaloguj
			<% end %>
  		<% end %>
	</section>
</div>