#participants-table {
  // display: inline-block;
  // overflow-y: visible;
  height: auto;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;

  .table-container {
    overflow-x: scroll;
  }

  #participants_length {
    display: inline-block;
    float: left;
  }
}

#participants_info {
  line-height: 70px;
}

.table > thead > tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;

  > th {
    font-weight: 600;
    position: relative;

    &.sorting,
    &.sorting_asc,
    &.sorting_desc {
      cursor: pointer;
      padding-right: 16px;
    }

    &:after {
      font-family: $icon-family;
      font-size: $th-icon-size;
      line-height: $th-icon-size;
      position: absolute;
      top: 50%;
      margin-top: -($th-icon-size/2);
      right: 5px;
    }

    &.sorting:after {
      content: '\F312';
    }

    &.sorting_desc:after {
      content: '\F2F9';
    }

    &.sorting_asc:after {
      content: '\F2FC';
    }
    }
}

// Custom dataTables

.dataTables_paginate {
  text-align: right;
}

.row.options {
  margin-bottom: 20px;
}

// Fixed Header

// table.fixedHeader-floating {
//   position: fixed;
//   background-color: white;
// }

// table.fixedHeader-floating.no-footer {
//   border-bottom-width: 0;
// }

// table.fixedHeader-locked {
//   position: absolute;
//   background-color: white;
// }

// table.fixedHeader-locked {
//   position: absolute;
//   background-color: white;
// }

// Responsive

  // Participants table toggle details buttons

  table.dataTable.dtr-column {
    > tbody {
      > tr {

        > td.control:before,
        > th.control:before {
          border: none;
          box-shadow: none;
          background: none;
          background-color: transparent;
          content: '';
          color: $brand-success;
          font-family: Material-Design-Iconic-Font;
          font-size: 20px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          font-stretch: normal;
          line-height: 1;
          top: 50%;
          left: 50%;
          margin-top: -8px;
          margin-left: -9px;
        }

        &.child {
          td {
            &.child {
              ul li {
                height: 40px;
                display: table-row;
                span {
                  min-height: 20px;
                  line-height: 20px;
                  display: table-cell;
                  padding: 8px;
                  &.dtr-title {
                    font-size: 13px;
                    font-weight: 600;
                    vertical-align: middle;
                  }

                  &.dtr-data {
                    font-size: 13px;
                    vertical-align: middle;

                    i.boolean-icon, label {
                      font-size: 20px;
                      vertical-align: middle;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }

  table.dataTable.dtr-column > tbody > tr.parent td.control:before,
  table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    background: none;
    background-color: transparent;
    content: '';
    color: $brand-danger;
  }

  // End

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child.dataTables_empty:before {
  display: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
  display: none;
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 12px;
}
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer;
}

table.dataTable > tbody > tr.child {
  padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
  background: transparent !important;
}
table.dataTable > tbody > tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.dataTable > tbody > tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul li:first-child {
  padding-top: 0;
}
table.dataTable > tbody > tr.child ul li:last-child {
  border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

// Custom datatables style

.dataTables_wrapper {
  .row:first-child {
    margin-bottom: 10px;
  }
}

// Custom tables style

table.table {
  margin-bottom: 0;
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
        &.boolean {
          text-align: center;
        }
      }
    }
  }

  td.responsive-details {
    padding: 6px;
    vertical-align: middle;

    .boolean-icon {
      font-size: 20px;
      line-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

div.dataTables_filter {
  float: right;
}

.boolean-icon {
  font-size: 26px;
}

td.status {
  text-align: center;
  .label {
    display: inline-block;
    width: 140px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .status-label {
    font-size: 14px;
  }
}

.participant-action {
  //margin-right: 6px;
}
