<h1>Lista usuniętych</h1>

<header>
<p> Ilość usuniętych: <%= @participants.length %></p>

<p> <%= link_to 'Wróć do listy głównej', root_path %></p>
</header>
    
<div class="update-participant"></div>
<div class="mail-list"></div>


<table>
  <tr>
        <th></th>
        <th>Imię i nazwisko</th>
        <th>Wiek</th>
        <th>Miasto</th>
        <th>E-mail</th>
        <th>Telefon</th>
        <th>Rola</th>
        <th>Suma</th>
        <th>Zapłacono</th>
        <th>Do zapłaty</th>
        <th class="th-group-1">Dzień 1</th>
        <th class="th-group-1">Dzień 2</th>
        <th class="th-group-1">Dzień 3</th>
        <th class="th-group-2">Obiad 1</th>
        <th class="th-group-2">Obiad 2</th>
        <th class="th-group-3">Noclegi</th>
        <th>Data rejestracji</th>
        <th>Termin płatności</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
  </tr>

<%= render @participants %>

</table>