title JestWięcej
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
meta name="description" content="App for event management."
meta name="author" content="JestWięcej"
meta http-equiv="content-type" content="text/html; charset=utf-8"
meta charset="utf-8"
meta name="description" content=""
meta name="robots" content="all"

= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,latin-ext,cyrillic', media: 'all', :'data-turbolinks-track' => true

= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,cyrillic-ext,latin-ext,cyrillic', media: 'all', :'data-turbolinks-track' => true

= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css', media: 'all', :'data-turbolinks-track' => true

= stylesheet_link_tag  'application', media: 'all', :'data-turbolinks-track' => true

= javascript_include_tag 'application', :'data-turbolinks-track' => true

= javascript_include_tag "//www.google.com/jsapi", "chartkick"

- if content_for? :head
  = yield :head

= csrf_meta_tags

= favicon_link_tag 'favicon.png'
