  <header class="container">
    <a data-no-turbolink="true" href="/" class="logo"></a>
    <ul class="page-tabs reset-ul">
      <li data-no-turbolink="true"><a href="/"><span class="icon_id"></span>Lista uczestników</a></li>
      <li><a href="/summary"><span class="icon_datareport"></span>Podsumowanie</a></li>
      <li><a href="#"><span class="icon_mail_alt"></span>Wiadomości</a></li>
    </ul>
    <div class="logout" data-no-turbolink="true"><a href="/logout"><i class="icon_lock-open_alt"></i>Wyloguj</a></div>
    <div class="clearfix"></div>
  </header>